<h1>Login</h1>

<%= flash[:error] %>

<%= form_tag("/login", method: "post") do %>
  <%= label_tag(:email, "email") %>
  <%= text_field_tag(:email) %>

  <%= label_tag(:password, "password") %>
  <%= text_field_tag(:password) %>

  <%= submit_tag("Login") %>
<% end %>

<%= link_to "Register", new_user_path %>
